name: Release

on:
  workflow_dispatch:

env:
  CI: 1
  ARTIFACT_DIR: ./artifacts

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  pre-release-check:
    name: Publish Monoweave (Precheck)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - uses: ./.github/actions/setup-env
      - name: Build
        run: yarn build
      - name: Tests
        run: yarn test:ci

  release:
    name: Publish Monoweave
    runs-on: ubuntu-latest
    needs: [pre-release-check]
    environment: release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.RELEASE_GITHUB_PAT }}
          fetch-depth: 0
      - uses: ./.github/actions/setup-env
      - name: Build
        run: yarn build
      - name: Publish via Monoweave (Pre-release)
        if: github.ref != 'refs/heads/main'
        env:
          NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn run-local \
            --preset monoweave/preset-recommended \
            --log-level 0 \
            --prerelease \
            --package-group-manifest-field group
      - name: Publish via Monoweave
        if: github.ref == 'refs/heads/main'
        env:
          NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn run-local \
            --preset monoweave/preset-recommended \
            --log-level 0 \
            --auto-commit-message "chore: release monoweave [skip ci]" \
            --plugins "@monoweave/plugin-github" \
            --package-group-manifest-field group
      - name: Upload Artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build-artifacts
          path: ${{ env.ARTIFACT_DIR }}
